nav{
    background-color: blue;
    margin-top: 5px;
}
nav ul li{
    display: inline-block;
    margin: 30px;
    font-size: large;
    font-weight: bolder;
    color: black;
    text-decoration: black;
    

    


}
@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@100;200;300;400;500;600;700&display=swap);

h1 {
  font-family: 'Oswald', sans-serif;
}
a{
    color: #000;
    text-decoration: none;
}

h1{
    font: bold;
    color: blue;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    
    background-color:burlywood;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer p{
    display: inline-block;
    margin: 20px;
    font-size: large;
    font-weight: bolder;
    color: black;
    text-decoration: black;
    
}
img{
    float: inline-start;
    border-style: solid;
    height: 170px;
    width: 170px;
    border-image-outset: 50px;
    border-radius: 100px ;

}
main h2{
    text-align: center;
    border: 1px solid black;
    margin-left: 280px;
    margin-right: 25%;
    margin-top: 10px;
    background-color:burlywood;
    clear: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    
}
 body{
    background-color: lightskyblue;
    
    
}
main{
    margin: 30px;
}
h3{
    display: inline-block;
    
    font-size: large;
    font-weight: bolder;
    color: black;
    text-decoration: black;
}
    
ul.a{
    list-style-type: square;
}
table,th,td{

    border: 1px solid black;
}
input:invalid {
    border: 2px dashed red;
  }
  
  input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
  }
  
  input:valid {
    border: 2px solid black;
  }
  form{
      margin-left: 25%;
      margin-top: 5%;
  }
  table{
      margin-left: 25%;
  }
  table th{
      color: darkblue;
  }
  legend{
      font-size: 22px;
      color:blue;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  label{
      color: blue;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  #salmonlogo{
    float: left;
    height: 70px;
    width: 100px;
    border-style: none;
    margin: 4px;
   
    
  }
  footer h2{
      margin-left: 50px;
      margin-right:350px ;
      border-block-color: red;
      border-style:outset;
      text-align: center;
  }
  body footer ul li{
    border: red;
    font-size: large;
    font-weight: bolder;
    color: black;
    text-decoration: black;
  float: left;
  }
  footer ul{
      margin-left: 30px;
  }
 
