nav{
    background-color: blue;
}
li{
    display: inline-block;
    margin: 20px;
    font-size: large;
    font-weight: bolder;
    color: black;
    text-decoration: black;
    

    


}
a{
    color: #000;
    text-decoration: none;
}
h1{
    font: bold;
    color: blue;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    margin: 25px 50px;
    background-color:burlywood;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    font-size: x-large;
    font-style: inherit;
    text-align: center;
    position: sticky;
    border: 1px solid black;
    border: 1px solid black;
    margin: 25px 50px;
    background-color: lightblue;
  
}
img{
    float: inline-start;
    border-radius: 20%;
    height: 250px;
    width: 250px;

}
h2{
    text-align: center;
    border: 1px solid black;
    margin: 25px 50px;
    background-color:burlywood;
    clear: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    
}
body{
    background-color: lightskyblue
}
h3{
    text-align: center;
    position: relative;
    background-color: chartreuse;
    display: ruby;
    background-size: initial;
}
ul.a{
    list-style-type: square;
}
table,th,td{

    border: 1px solid black;
}
input:invalid {
    border: 2px dashed red;
  }
  
  input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
  }
  
  input:valid {
    border: 2px solid black;
  }
  form{
      margin-left: 25%;
      margin-top: 5%;
  }
  table{
      margin-left: 25%;
  }
  table th{
      color: darkblue;
  }
  legend{
      font-size: 22px;
      color:blue;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  label{
      color: blue;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }